/*font*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

@font-face {
  font-family: 'NotoSerifKR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#notoserif {
  font-family: "Noto Serif KR";
}

body {
  overflow-x: hidden;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Pretendard', sans-serif;
  background: linear-gradient(180deg, #FFFAC0 0%, #FFFDE3 21.55%);
  //이거 빼야함
}

//text styles
.subtitle {
  color: #98BC00;
  text-align: center;
  font-family: "Wanted Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.title {
  text-align: center;
  color: #483000;
  font-family: Pretendard;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
}

.desc {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  text-align: center;
}

.bold {
  font-weight: 700;
}

//style ends

.nav {
  display: flex;
  justify-content: space-between;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .section-1__header {
    text-align: center;
    font-family: "Paytone One";
    font-size: 18rem;
    line-height: 90%;
    background: linear-gradient(180deg, rgba(220, 157, 30, 0.39) 13.05%, rgba(255, 252, 218, 0.39) 112.26%);
    background: linear-gradient(180deg, #B9E057 0%, rgba(185, 224, 87, 0.14) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .section-1__mockup {
    position: relative;
    top: -2rem;
    z-index: 1;
  }

  .section-1__character {
    position: absolute;
    z-index: 2;

    &:nth-of-type(1) {
      transform: rotate(-9.5deg);
      left: 20%;
      top: 40%;
      transform-origin: right center;
    }

    &:nth-of-type(2) {
      transform: rotate(14deg);
      right: 20%;
      bottom: 15%;
      transform-origin: left center;
    }
  }

  .section-1__cloud {
    position: absolute;
    bottom: 0;

    &:nth-of-type(1) {
      z-index: -1;
      left: -2%;
    }

    &:nth-of-type(2) {
      z-index: -2;
      left: 0;
    }

    &:nth-of-type(3) {
      right: 0;

    }

    &:nth-of-type(4) {
      right: -2%;
      bottom: -2%;
    }
  }
}

.curved-section2 {
  position: absolute;
  top: 100%;
  width: 100vw;
  height: 30rem;
  margin: 0;
  background: radial-gradient(82.65% 87.35% at 50.93% 9.89%, rgba(246, 255, 125, 0.37) 0%, rgba(253, 255, 243, 0.50) 100%);
  filter: blur(50px);
  clip-path: ellipse(50% 50% at 50% 100%);
  z-index: 2;
}

.group1 {
  background: linear-gradient(180deg, #FCFFDB 0%, #FDFFF3 34.42%);

  .curved-section {
    position: absolute;
    left: -10vw;
    right: 0;
    bottom: -24vh;
    width: 120vw;
    height: 30rem;
    margin: 0;
    background: linear-gradient(180deg, #FCFFD4 0%, #FCFFDB 100%);
    clip-path: ellipse(50% 50% at 50% 100%);
    z-index: 1;
  }


  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


    .section-2__parts {
      display: flex;
      flex-direction: column;

      &:last-child {
        padding-top: 30rem;
      }

      .section-2__graphic--bubble {
        position: relative;
        top: -4rem;
        right: -86rem;
      }

      .section-2__graphic {
        /*padding-top: 14rem;*/
      }
    }

    .section-2__texts {
      display: flex;
      flex-direction: column;

      .section-2__subtitle {
        padding-bottom: 2.5rem;
      }

      .section-2__title {
        padding-bottom: 4rem;
      }

      .section-2__desc {
        text-align: center;
      }
    }

    .section-2__graphic {
      display: flex;
      align-items: flex-end;
      gap: 4.2rem;
      justify-content: space-between;
      width: 100%;
      padding: 0 4rem;
      box-sizing: border-box;

      .section-2__graphic1 {
        display: flex;
        gap: 4.4rem;
      }

      .section-2__graphic2 {
        display: flex;
        gap: 4.4rem;
        align-items: flex-end;
      }
    }
  }
}

.section-2__leafs {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 120%;

  .section-2__leaf {
    &:first-child {
      left: 0;

      svg {
        position: absolute;
        left: 8%;

        &:nth-child(1) {
        }

        &:nth-child(2) {
          top: 16rem;
        }

        &:nth-child(3) {
          top: 36rem;
        }
      }
    }

    &:last-child {
      svg {
        position: absolute;
        right: 8%;

        &:nth-child(1) {
        }

        &:nth-child(2) {
          top: 18rem;
        }

        &:nth-child(3) {
          top: 24rem;
        }
      }
    }
  }
}

.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(48, 35, 0, 0.85), rgba(48, 35, 0, 0.85)),
  url("../src/img/section-4-bg.png") no-repeat center center / cover;
  font-size: 4rem;

  .section-4__header--text {
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 600;

  }

  .section-4__header--inner {
    span {
      color: white;
    }

    span:nth-child(1) {
      display: inline-block;
      background-color: #C3E633;
      color: #483000;
      padding: .5rem;
      border-radius: .75rem;
    }

    font-weight: 600;
  }

  .section-4__desc {
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
  }
}

.section-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .section-5__texts {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 12rem;
  }

  .section-5__cards {
    display: flex;
    gap: 2.75rem;
    width: 100%;
    padding: 0 7.25rem;
    box-sizing: border-box;

    .section-5__card {
      display: flex;
      flex: 1;
      gap: 1.75rem;
      flex-direction: column;

      .section-5__card--subject {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;
        background-color: #C6F25C;
        stroke-width: 1px;
        stroke: #E3EFBD;
        color: #233F00;
        text-align: center;
        font-family: "Wanted Sans";
        font-size: 2rem;
        font-weight: 600;
        border-radius: 2rem;
      }

      .section-5__card--desc {
        display: flex;
        padding: 5.4rem;
        justify-content: center;
        align-items: center;
        background-color: #F9FFDC;
        box-shadow: 0px 0px 10px 0px #DAEC84 inset;
        border-radius: 2rem;
        flex-direction: column;
        gap: 2.2rem;

        span:nth-child(1) {
          color: #233F00;
          text-align: center;
          font-family: "Wanted Sans";
          font-size: 2rem;
          font-weight: 700;
        }

        span:nth-child(2) {
          color: #233F00;
          text-align: center;
          font-family: "Wanted Sans";
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }
  }
}

.section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(155deg, rgba(242, 255, 218, 0.75) 14.74%, rgba(253, 255, 243, 0.75) 87.8%);
  .section-6__subtitle {
    padding-bottom: 1.5rem;
  }

  .section-6__title {
    display: flex;
    justify-content: center;

    span:first-child {
      color: #98BC00;
    }
  }
  svg {
    padding-top: 12rem;
  }
}

.section-7 {
  padding-top: 14.5rem;
  padding-bottom: 14rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .section-7__subtitle {
    padding-bottom: 1.5rem;
  }

  .section-7__title {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding-bottom: 14.5rem;

    span:nth-child(2) {
      padding-right: .75rem;
    }
  }
  .section-7__wbg {
    width: 100%;
    height: 63rem;
    background: url('../src/img/section-7-wbg.png') no-repeat center center / cover;
  }
  .section-7__tagbg {
    position: relative;
    width: 100%;
    height: 100rem;
    background: url('../src/img/section-7-tagbg.png') no-repeat center center / cover;

    .section-7__tag {
      position: absolute;
      border-radius: 5.2rem;
      background: #FEFFE6;
      box-shadow: 0px 2px 27.6px 0px #FFF;
      backdrop-filter: blur(4.14px);
      color: #483000;
      font-family: Pretendard;
      font-weight: 600;
      letter-spacing: 0.06725rem;
      width: fit-content;
      &:nth-child(1) {
        font-size: 3.3rem;
        padding: 2rem 3.8rem;
        top: 32rem;
        right: 30rem;

      }
      &:nth-child(2) {
        font-size: 4rem;
        padding: 2.3rem 4.6rem;
        top: 40rem;
        right: 90rem;
      }
      &:nth-child(3) {
        padding: 2.2rem 4.5rem;
        font-size: 3.8rem;
        top: 64rem;
        right: 30rem;
      }
    }

  }
}

.section-8 {
  .section-8__texts {
    padding-bottom: 15.4rem;

    .section-8__subtitle {
      padding-bottom: 1.5rem;
    }
  }

  .section-8__area {
    display: flex;

    .section-8__area1 {
      display: flex;
      background: #FFFCE0;
      //height: 40rem;
      flex: 1;
      min-width: 0;
      padding: 5.6rem 7.5rem;
      flex-direction: column;
      justify-content: space-between;

      .section-8__area1--title {
        color: #98BC00;
        font-family: "Wanted Sans";
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 1.2rem;
      }

      span {
        color: #483000;
        font-family: Pretendard;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.625rem; /* 175% */
      }

      .section-8__area11 {
        display: flex;
        align-items: flex-end;

        .section-8__area11--icon {
          width: 14rem;
          height: 14rem;
          background: #A6C753;
          border-radius: 2rem;

          img {
            width: 60%;
            height: auto;
            position: relative;
            top: 20%;
            left: 20%;
          }
        }

        span {
          color: #A6C753;
          font-family: "Paytone One";
          font-size: 8.125rem;
          font-weight: 400;
          line-height: 100%;
          padding: 0 0 .75rem 2.25rem;
        }
      }
    }

    .section-8__area2 {
      background-image: url("../src/img/section-8.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 40rem;
      flex: 1;
      min-width: 0;
    }
  }
}

.section-9 {
  background: linear-gradient(155deg, rgba(234, 253, 182, 0.54) 14.74%, rgba(253, 255, 243, 0.75) 87.8%);
  padding: 12rem 8rem;
  display: flex;
  justify-content: space-between;
  gap: 8rem;

  .section-9__area1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-9__area1--texts {
      display: flex;
      flex-direction: column;

      &:last-child {
        span {
          color: #483000;
          font-family: Pretendard;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 2.625rem; /* 175% */
        }
      }

      .section-9__subtitle {
        padding-bottom: 1.5rem;
        text-align: left;
      }

      .section-9__title {
        color: #483000;
        font-family: Pretendard;
        font-size: 3rem;
        font-weight: 600;
        line-height: 120%;
      }
    }
  }

  .section-9__area2 {
    display: flex;
    gap: 2.6rem;
    filter: drop-shadow(0px 0px 27.66px rgba(167, 174, 127, 0.20));

    .section-9__card {
      display: flex;
      width: 28rem;
      height: 30rem;
      border-radius: 3.5rem;
      background: rgba(255, 255, 250, 0.62);
      justify-content: center;
      align-items: center;

      &:first-child {
        img {
          width: 70%;
        }
      }

      &:last-child {
        img {
          width: 85%;
        }
      }
    }
  }

}

.section-10 {
  padding: 9rem 8rem;
  background: #EAFFB0;

  .section-10__texts {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding-bottom: 7.8rem;
  }

  .section-10__gridcontainer {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    background: rgba(250, 255, 235, 0.76);
    border-radius: 2.4rem;
    padding: 4.4rem;
    grid-gap: 2.4rem;

    .section-10__grid {
      background: #FBFFEF;
      filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.10));
      border-radius: 1.4rem;
      padding: 5.4rem;

      .section-10__grid--header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3.4rem;

        .section-10__grid--title {
          color: #81944F;
          font-family: Pretendard;
          font-size: 1.5rem;
          font-weight: 600;
        }

        .section-10__grid--subtitle {
          color: #483000;
          font-family: Pretendard;
          font-size: 1rem;
          font-weight: 400;
        }
      }

      .section-10__grid--typocontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section-10__grid--typo {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;

          .section-10__grid--typosubtitle {
            color: #483000;
            font-size: 2rem;
            font-weight: 500;


          }

          .section-10__grid--typotitle {
            color: #483000;
            font-family: Pretendard;
            font-size: 3rem;
            font-weight: 500;
          }

        }
      }

      .section-10__grid--typosize {
        padding-top: 2.4rem;

        .section-10__grid--typosizeruler {
          border-radius: 2rem;
          width: 100%;
          height: 3px;
          background-color: #D9E9AE;
        }

        .section-10__grid--typopoint {
          padding-top: 1.2rem;
          display: flex;
          justify-content: space-between;

          span {
            color: #81944F;
            font-family: Pretendard;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }

      .section-10__icons {
        padding-top: 1.6rem;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(5, 1fr);
        grid-gap: 2.2rem;
        place-items: center;

        span {
          color: #94764F;
          font-family: Pretendard;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }

      .section-10__colorcontainer {
        display: flex;
        gap: 1.2rem;

        .section-10__colors {
          display: flex;
          gap: 1.2rem;
          flex: 6;

          .section-10__color {
            gap: 1.2rem;
            display: flex;
            flex: 1;
            flex-direction: column;

            .section-10__color--main {
              height: 8rem;
              border-radius: 1.25rem;
              background: #D0F475;
              box-shadow: 0px 0px 15px 0px #E4E9D6;

            }

            .section-10__color--bg {
              height: 8rem;
              border-radius: 1.25rem;
              background: #FEFFFA;
              box-shadow: 0px 0px 15px 0px #E4E9D6;

            }

            span {
              padding-left: .5rem;
              color: #81944F;
              font-family: Pretendard;
              font-size: 1.125rem;
              font-weight: 500;
            }
          }
        }

        .section-10__subcolors {
          gap: 1.2rem;
          flex: 4;
          display: flex;

          .section-10__subcolor {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 1.2rem;

            .section-10__subcolor--color {
              height: 8rem;
              flex: 1;
              border-radius: 1.25rem;
              box-shadow: 0px 0px 15px 0px #E4E9D6;
            }

            &:nth-child(1) .section-10__subcolor--color {
              background: #FFFAC0;
            }

            &:nth-child(2) .section-10__subcolor--color {
              background: #F2FFD2;
            }

            span {
              padding-left: .5rem;
              color: #81944F;
              font-family: Pretendard;
              font-size: 1.125rem;
              font-weight: 500;
            }
          }
        }

        .section-10__textcolors {
          padding-left: 1.2rem;
          flex: 1.2;
          display: flex;
          flex-direction: column;
          gap: 1.2rem;

          .section-10__textcolor {
            display: flex;
            gap: 0.5rem;
            height: 8rem;

            .section-10__textcolor--color {
              flex: 1;
              border-radius: 1.25rem;
              box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.24);

              &:nth-child(1) {
                background: #233F00;
              }

              &:nth-child(2) {
                background: #483000;
              }

              &:nth-child(3) {
                background: #A76F00;
              }

              &:nth-child(4) {
                background: #C3AA77;
              }

            }
          }

          span {
            padding-left: .5rem;
            color: #81944F;
            font-family: Pretendard;
            font-size: 1.125rem;
            font-weight: 500;
          }
        }

      }

      &:last-child {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.section-11 {
  height: 58rem;
  padding: 8rem 3.4rem 0 6.25rem;
  position: relative;

  .section-11__bg {
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-top-left-radius: 12rem;
    background: linear-gradient(180deg, rgba(255, 244, 140, 0.57) 0%, rgba(218, 253, 121, 0.57) 38.94%, rgba(167, 219, 24, 0.57) 100%);

    .section-11__bg--texts {
      display: flex;
      flex-direction: column;
      padding: 8.8rem 0 0 7.4rem;

      span:first-child {
        color: #A8DA28;
        text-shadow: 0px 0px 15px #CBD396;
        font-family: "Paytone One";
        font-size: 14rem;
        font-weight: 400;
      }

      span:last-child {
        color: #73A100;
        font-family: Pretendard;
        font-size: 2.25rem;
        font-weight: 500;
      }
    }

    .section-11__mockups {
      position: relative;

      img {
        bottom: 0;
        right: 0;
      }
    }
  }

  .section-11__clouds {
    position: absolute;
    bottom: 0;

    svg {
      position: relative;

      &:first-child {
        top: 0;
        left: -8rem;
        z-index: 1;
      }

      &:last-child {
        top: 0;
        left: -30rem;
      }
    }
  }

  .section-11__radial {
    position: absolute;
    z-index: -1;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 102rem;
    height: 66rem;
    border-radius: 100rem;
    background: radial-gradient(55.88% 55.88% at 50% 55.88%, rgba(99, 142, 0, 0.75) 0%, rgba(238, 255, 199, 0.00) 100%);
    filter: blur(189.64999389648438px);
  }
}

.section-15 {
  padding: 14rem 0 0 14rem;
  background: linear-gradient(180deg, #393D2F 80%, #3C4130 83.06%, #414732 88.2%, #BAE159 100%);

  .section-15__area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24rem;

    &:nth-child(2) {
      justify-content: flex-start;
      gap: 5.2rem;
    }

    &:nth-child(3) {
      justify-content: flex-start;
      padding-left: 29rem;
    }
  }

  .section-15__texts {
    .section-15__subtitle {
      color: #A8DA28;
      font-family: "Wanted Sans";
      font-size: 2rem;
      font-weight: 700;
      padding-bottom: 4rem;
    }

    .section-15__title {
      color: #FDFFF3;
      font-family: Pretendard;
      font-size: 3rem;
      font-weight: 600;
      padding-bottom: 4rem;
      line-height: 140%;
    }

    .section-15__desc {
      color: #FDFFF3;
      font-family: Pretendard;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 160%;
    }
  }

  .section-15__mockups-1 {
    position: relative;
    right: -8rem;
    padding-left: 6rem;
    white-space: nowrap;

    img {
      display: inline-block;
      padding-right: 2.4rem;
    }

    img:last-child {
      width: 30%;
      height: auto;
    }
  }
}

.section-16 {
  background: #EDFFC2;
  padding: 8.7rem 7.6rem 4.8rem 7.6rem;
  position: relative;
  height: 76rem;
  .section-16box {
    display: flex;
    position: absolute;
    z-index: 2;
    .section-16__contents {
      display: flex;
      flex-direction: column;
      padding-left: 5.2rem;
      justify-content: space-between;
      .section-16__texts {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3.8rem;
        .section-16__text--main {
          display: flex;
          gap: 3.8rem;
        }
        .section-16__subtitle {
          color: #8CC300;
          font-family: "Wanted Sans";
          font-size: 2rem;
          font-weight: 700;
        }
        .section-16__title {
          color: #483000;
          font-family: Pretendard;
          font-size: 3rem;
          font-weight: 600;
          line-height: 130%;
        }
        .section-16__desc {
          color: #483000;
          font-family: Pretendard;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 2.625rem; /* 175% */
        }
      }
    }
    .section-16__images {
      display: flex;
      padding-left: 3.8rem;
      gap: 5.2rem;
    }
  }
  .section-16__bgcover {
    position: absolute;
    width: calc(100% - 15.2rem);
    height: 42.75rem;
    background: rgba(250, 255, 235, 0.76);
    bottom: 4.8rem;
    border-radius: 5rem;
    left: 7.6rem;
    bottom: 4.8rem;
  }
}


.section-17 {
  padding: 16rem 0;
  display: flex;
  background: #FDFFF3;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  img {
    z-index: 3;
  }

  .section-17__radial {
    position: absolute;
    background: radial-gradient(55.88% 55.88% at 50% 55.88%, rgba(144, 207, 0, 0.35) 0%, rgba(238, 255, 199, 0.35) 100%);
    filter: blur(190px);
    border-radius: 50%;

    &:first-child {
      width: 82rem;
      height: 50rem;
      transform: rotate(90deg);
      flex-shrink: 0;
      left: -25%;
    }

    &:nth-child(2) {
      width: 102rem;
      height: 62rem;
      transform: rotate(-90deg);
      flex-shrink: 0;
      top: 50%;
      right: -25%;
    }

    &:nth-child(3) {
      width: 106rem;
      height: 64rem;
      flex-shrink: 0;
      bottom: -10%;
      left: -25%;
    }
  }

  .section-17__texts {
    z-index: 3;
    padding-bottom: 9rem;

    .section-17__texts--title {
      color: #483000;
      text-align: center;
      font-family: Pretendard;
      font-size: 3rem;
      font-weight: 600;
      padding-bottom: 2.6rem;
    }

    .section-17__texts--subtitle {
      color: #98BC00;
      text-align: center;
      font-family: "Wanted Sans";
      font-size: 2rem;
      font-weight: 700;
      padding-bottom: 3.8rem;
    }

    .section-17__texts--desc {
      color: #483000;
      text-align: center;
      font-family: Pretendard;
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 2.625rem; /* 150% */
    }
  }

  .section-17__mockups {
    z-index: 3;
    padding-top: 26rem;
    display: flex;
    //gap: 4rem;
    .section-17__mockup {
      width: 30rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      .section-17__mockup--texts {
        padding: 0 3rem;

        .section-17__texts--title {
          color: #483000;
          font-family: Pretendard;
          font-size: 3rem;
          font-weight: 600;
          padding-bottom: 2.6rem;
        }

        .section-17__texts--subtitle {
          color: #98BC00;
          font-family: "Wanted Sans";
          font-size: 2rem;
          font-weight: 700;
          padding-bottom: 3.8rem;
        }

        .section-17__texts--desc {
          color: #483000;
          font-family: Pretendard;
          font-size: 1.75rem;
          font-weight: 400;
          line-height: 2.625rem; /* 150% */
        }
      }
    }
  }
}

section.vertical {
  display: flex;
  padding: 8rem;
  /*justify-content: center;*/
  //align-items: center;
  //height: 100vh;
  /*background: linear-gradient(180deg, #FFFAC0 0%, #FFFDE3 21.55%);*/
}

#horizon {
  position: relative;
  height: 100vh;
}

.horizon-wrap {
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
  will-change: transform;
}

.panel {
  padding-top: 16rem;
  flex: 0 0 100vw;
  //height: 100vh;
  display: flex;
  background: linear-gradient(180deg, #393D2F 80%, #3C4130 83.06%, #414732 88.2%, #BAE159 100%);
}

.footer {
  height: 30rem;
  background: #2C2E26;
  color: white;
  padding: 7.4rem;
  font-size: 2rem;
  justify-content: space-between;
  z-index: 3;

  .footer1 {
    font-weight: 600;

    .footer1__symbol {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-bottom: 1.75rem;

      .footer1__symbol--symbol {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 30%;
        background-color: #A6C753;

        img {
          width: 60%;
        }
      }

      span {
        display: block;
        font-size: 2rem;
        font-weight: 600;
      }

    }

    span {
      display: block;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }

  .footer2 {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .footer__team {
      font-weight: 600;
    }

    .footer__members {
      display: flex;
      gap: 4rem;

      .footer__member {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .footer__member--position {
          font-size: 1.5rem;
        }

        .footer__member--name {
          font-size: 1.5rem;
        }
      }
    }
  }

  .topbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #D0F475;
    border-radius: 50%;
  }

}